// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #050102
$secondary = #F7FAFC
$tertiary  = #050102
$accent  = #4f041d
$extra  = #050102

$neutral   = #C6C6C6
$positive  = #5BBD4D
$negative  = #D63D35
$info      = #CCCCCC;
$warning   = #EC9A15

$yellowBtn = #F5CD60
$greenBtn = #6DB745
$redBrn = #E56161
$textGray =#323131
