body {
  font-family: Inter, sans-serif;
}

.background  {
    background-color: rgba(237,242,247,255);
    width: 100%;
    height: auto;
  }
.logo {
    width: 29%;
    margin-left: 11%;
    margin-top: 18%; 
  }
.buttonpressed {
    background: rgba(45,55,72,255);
    border-radius: 40%;
    color: rgba(187,190,195,255);
    margin-top: 2%;
  }
.buttonfree {
    background: rgba(255,255,255,255);
    border-radius: 40%;
    color: rgba(103,124,149,255);
    margin-top: 2%;
  }
.next {
    background: rgba(36,98,209,255);
    color: rgba(228,236,249,255);
    margin-top: 23%;
    font-size: 0.7em
  }
.leftbutton {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.6em
    font-weight: bold
  }
.rightbutton {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.6em
    font-weight: bold
  }
.spacearound {
    width: 2%;
  }
.displaycards {
    width: 99%;
    border-radius: 25px 25px 0px 0px;
    background-color: rgba(255,255,255,255);
    text-align: center
  }
.boxcards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: rgba(237,242,247,255);
    margin-top: 1%;
  }
.title {
    margin-top: 2%;
    font-size: 1.3em;
    font-weight: bold
  }

.nobox {
    border: 2px solid rgba(237,242,247,255);;
    border-radius: 5px;
    font-size: 0.75em
  }

.box {
    border: 2px solid rgba(146,177,232,255);
    border-radius: 5px;
    font-size: 0.75em
  }

.box:after {
  content: '';
	position: absolute;
	// bottom: 0;
	// left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	// border-top-color: #00aabb;
	border-bottom: 0;
	// margin-left: -20px;
  margin-left: -1em;
	margin-bottom: -20px;
  margin-top: -6px;
  transform: rotate(45deg);
  border-bottom:inherit;
  border-right:inherit;
  background: white;
}

.card1 {
    background: rgba(247,241,255,255);
    color: rgba(92,88,127,255)
  }
.color1 {
    width: 70%;
    height: 20px;
    background: rgba(233,217,255,255)
    border-radius: 25px;
  }
.color1_1 {
    width: 37%;
    height: 20px;
    background: rgba(218,191,255,255);
    border-radius: 25px 25px;
  }
.cardspace {
    width: auto;
    min-height: 30em;
  }

.card2 {
    background: rgba(254,246,239,255)
    color: rgba(109,74,40,255)
  }
.color2 {
    width: 70%;
    height: 20px;
    background: rgba(255,228,204,255)
    border-radius: 25px;
  }
.color2_1 {
    width: 37%;
    height: 20px;
    background: rgba(255,214,179,255);
    border-radius: 25px 25px;
  }

.card3 {
    background: rgba(230,244,255,255)
    color: rgba(57,104,140,255)
  }
.color3 {
    width: 70%;
    height: 20px;
    background: rgba(191,227,255,255)
    border-radius: 25px;
  }
.color3_1 {
    width: 37%;
    height: 20px;
    background: rgba(153,209,255,255)
    border-radius: 25px 25px;
  }

.card4 {
    background: rgba(222,245,247,255)
    color: rgba(49,88,91,255)
  }
.color4 {
    width: 70%;
    height: 20px;
    background: rgba(170,236,242,255)
    border-radius: 25px;
  }
.color4_1 {
    width: 37%;
    height: 20px;
    background: rgba(129,221,229,255)
    border-radius: 25px 25px;
  }

.card5 {
    background: rgba(255,242,246,255)
    color: rgba(128,69,82,255)
  }
.color5 {
    width: 70%;
    height: 20px;
    background: rgba(255,217,228,255)
    border-radius: 25px;
  }
.color5_1 {
    width: 37%;
    height: 20px;
    background: rgba(255,191,210,255)
    border-radius: 25px 25px;
  }

.card6 {
    background: rgba(242,247,250,255)
    color: rgba(96,106,123,255)
  }
.color6 {
    width: 70%;
    height: 20px;
    background: rgba(226,232,240,255)
    border-radius: 25px;
  }
.color6_1 {
    width: 37%;
    height: 20px;
    background: rgba(203,213,224,255)
    border-radius: 25px 25px;
  }
.card {
    width: 150px;
    margin: 0% 0.7%;
    font-size: 0.65em;
    font-weight: bold;
  }

.cardinside {
    border-radius: 10px 10px;
    border: 2px solid rgba(237,242,247,255);
    height: 5em;
    margin: -0.9em -0.5em 0em -0.5em;
  }